@model climb_forecast_api.Models.Crag

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Crag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CragName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CragName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeatherStationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeatherStationName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
